---
import Post from "../../layouts/Post.astro"

import { render, getEntryBySlug } from "astro:content";
const post = await getEntryBySlug("blog", Astro.params.slug);
const { Content } = await post!.render();

const props = Astro.props;
const title = props.title;
---
<Post>
    <p slot="blog-title" htmlFor="title" >{post.data.title}</p>
    <Content slot="blog" />
</Post>
