---
import { Button } from "@/components/ui/button"
import { Input } from "@/components/ui/input"
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
---

<div id="main-panel" class="flex flex-col items-center h-full w-full overflow-auto bg-background">
    <div class="flex w-full justify-center bg-destructive-foreground">
        <div class="flex w-2/5 py-23 gap-2 px-4 text-lg font-semibold">
          <Input type="email" placeholder="Email" />
          <Button type="submit" variant="outline">
            Subscribe
          </Button>
        </div>
    </div>
    <div class="flex flex-col w-4/5 gap-8 bg-sidebar-accent">
        <div class="flex flex-row gap-4">
        <img class="flex aspect-square object-cover bg-muted-foreground" src="" alt="Blog Image" />

        <Card class="flex h-55  bg-card border-border">
            <CardHeader>
                <CardTitle>"Blog Title"</CardTitle>
                <CardDescription>
                   "Published on 2024-06-10"
                </CardDescription>
            </CardHeader>
            <CardContent>
                <CardDescription> 
                      "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
                </CardDescription>
            </CardContent>
            <CardFooter>
                <CardAction>
                  <Button variant="link">Read More</Button>
                </CardAction>
            </CardFooter>
        </Card>
        </div>
        <div class="flex flex-row gap-4">
            <img class="flex aspect-square object-cover bg-muted-foreground" src="" alt="Blog Image" />

           <Card class="flex h-55  bg-card border-border">
             <CardHeader>
               <CardTitle>"Blog Title"</CardTitle>
               <CardDescription>
                  "Published on 2024-06-10"
               </CardDescription>
             </CardHeader>
             <CardContent>
               <CardDescription> 
                     "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
               </CardDescription>
             </CardContent>
             <CardFooter>
               <CardAction>
                 <Button variant="link">Read More</Button>
               </CardAction>
             </CardFooter>
           </Card>
        </div>

         <div class="flex flex-row gap-4">
             <img class="flex aspect-square object-cover bg-muted-foreground" src="" alt="Blog Image" />

            <Card class="flex h-55  bg-card border-border">
              <CardHeader>
                <CardTitle>"Blog Title"</CardTitle>
                <CardDescription>
                   "Published on 2024-06-10"
                </CardDescription>
              </CardHeader>
              <CardContent>
                <CardDescription> 
                      "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
                </CardDescription>
              </CardContent>
              <CardFooter>
                <CardAction>
                  <Button variant="link">Read More</Button>
                </CardAction>
              </CardFooter>
            </Card>
        </div>

        <div class="flex flex-row gap-4">
            <img class="flex aspect-square object-cover bg-muted-foreground" src="" alt="Blog Image" />

            <Card class="flex h-55 bg-card border-border">
              <CardHeader>
                <CardTitle>"Blog Title"</CardTitle>
                <CardDescription>
                   "Published on 2024-06-10"
                </CardDescription>
              </CardHeader>
              <CardContent>
                <CardDescription>
                      "This is a sample blog content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
                </CardDescription>
              </CardContent>
              <CardFooter>
                <CardAction>
                  <Button variant="link">Read More</Button>
                </CardAction>
              </CardFooter>
            </Card>
       </div>
    </div>
</div>
