---
import Home from "../layouts/Home.astro"
import BlogPostCard from "../components/BlogPostCard.astro"

import { Button } from "@/components/ui/button"
import { Input } from "@/components/ui/input"

import { getCollection } from "astro:content";
// This looks into src/content/blog/
const posts = await getCollection('blog');

---

<Home>
    <Input slot="email-input" type="email" placeholder="Email" />
    <Button slot="email-button" type="submit" variant="outline">
        Subscribe
    </Button>
    {posts.map((post) => (
        <BlogPostCard slot="blog-posts" 
            title={post.data.title}
            authors={post.data.authors}
            pubDate={post.data.date}
            description={post.data.description}
            url={`/blog/${post.id.split('/')[0]}`}
        />
    ))}
</Home>
