---
import '../styles/global.css';

// Component Imports
import ResumeLayout from "../layouts/Resume.astro"
import {Content as Header} from '../components/resume/Header.md';
import {Content as Experience} from '../components/resume/Professional_Experience.md';
import {Content as Projects} from '../components/resume/Personal_Projects.md';
import {Content as Skills} from '../components/resume/Skills.md';
import {Content as Certs} from '../components/resume/Certifications.md';
import Socials from '../components/resume/Socials.astro';

import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faAt } from '@fortawesome/free-solid-svg-icons'
import {faSquareGitlab, faSquareGithub, faSquareLinkedin} from '@fortawesome/free-brands-svg-icons'

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<ResumeLayout slot="main" >
    <p slot="title">Resume</p>
    <Header slot="header" />
    <Socials slot="socials" />
    <Experience slot="experience" />
    <Projects slot="projects" />
    <Skills slot="skills" />
    <Certs slot="certs" />
    <p slot="footer" class="flex items-center gap-2">
        Made wih ❤️ and <img class="w-8" src={`https://go-skill-icons.vercel.app/api/icons?i=astro`} />
    </p>
</ResumeLayout>
