---
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
  } from "@/components/ui/card";
import { Button } from "@/components/ui/button";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");

const props = Astro.props;
---

{posts.map(post => (
    <div class="flex flex-row justify-center gap-4">
        <img className="flex object-cover aspect-square bg-muted-foreground" src="" alt="Blog Image" />
        <Card className="flex h-55 bg-card border-border">
            <CardHeader>
                <CardTitle>
                    {post.data.title}
                </CardTitle>
                <CardDescription>
                    {post.data.pubDate}
                </CardDescription>
            </CardHeader>
            <CardContent>
                <CardDescription>
                    {post.data.pubDate}
                </CardDescription>
            </CardContent>
            <CardFooter>
                <CardAction>
                    <a href={`../content/blog/${post.slug}`} class="">
                        Read More
                    </a>
                </CardAction>
            </CardFooter>
        </Card>
    </div>
))}
