---
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
  } from "@/components/ui/card";
import { Button } from "@/components/ui/button";
const { title, authors, pubDate, description, url } = Astro.props;
---

<div class="flex flex-row bg-muted-foreground gap-4">
    <img class="flex object-cover aspect-square bg-destructive-foreground" src="" alt="Blog Image" />
    <Card class="flex h-55 bg-card border-border">
        <CardHeader>
            <CardTitle>
                {title}
            </CardTitle>
            <CardDescription>
                {pubDate}
            </CardDescription>
        </CardHeader>
        <CardContent>
            <CardDescription>
                {description ?? ""}
            </CardDescription>
            <CardDescription>
                {authors ?? ""}
            </CardDescription>
        </CardContent>
        <CardFooter>
            <CardAction>
                <a href={url} class="text-sm font-medium text-primary hover:underline">
                    Read More
                </a>
                <!-- <Button variant="link" as="a" href={url}>Read More</Button> -->
            </CardAction>
        </CardFooter>
    </Card>
</div>
