---
---

<div slot="support-me-links" class="flex flex-col my-10 bg-sidebar-accent">
    <div class="flex mb-20 text-xl gap-4 bg-muted-foreground">
        <a href="https://github.com/sponsors/Yorisoft" target="_blank">
          <img height="26" width="26" src="https://cdn.simpleicons.org/githubsponsors/34d399" />
        </a>
        <a href="https://ko-fi.com/yorisoft" target="_blank">
          <img height="26" width="26" src="https://cdn.simpleicons.org/kofi/34d399" />
        </a>
        <a href="https://www.patreon.com/cw/YORiSOFT" target="_blank">
          <img height="26" width="26" src="https://cdn.simpleicons.org/patreon/34d399" />
        </a>
    </div>
</div>
