---
---
<div id="main-panel" class="flex flex-col items-center w-full h-full overflow-auto bg-background">
    <div class="flex justify-center w-full p-8 bg-destructive-foreground dark:prose-invert">
        <slot name="welcome_msg" class="-translate-x-20"/>
    </div>
    <div class="flex flex-col w-3/5 pt-8 prose prose-lg prose-neutral dark:prose-invert max-w-350 gap-8 mb-50">
        <slot name="blog-posts" />
    </div>
</div>
