---
import '../styles/global.css';

const props = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script is:inline>
            // Runs before page renders to prevent flash
            document.documentElement.classList.add("dark")
        </script>
        <title>{props.title}</title>
    </head>
    <body>
        <div class="flex h-screen bg-sidebar">
            <slot name="side-panel"/>
            <slot name="main"/>
        </div>
    </body>
</html>
