---
import '../styles/global.css';

import SideNav from '../pages/SideNav.astro';

const props = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logoIcon.png" />
        <link rel="alternate" type="application/rss+xml" title="Yorisoft.dev RSS Feed" href={new URL("rss.xml", Astro.site)} />
        <meta name="generator" content={Astro.generator} />
        <script is:inline>
            // Runs before page renders to prevent flash
            document.documentElement.classList.add("dark")
        </script>
        <title>{props.title}</title>
    </head>
    <body>
        <div class="flex h-screen bg-sidebar">
            <!-- <slot name="side-panel"/> -->
            <!-- <slot name="main"/> -->
            <SideNav />
            <div id="main-panel" class="flex flex-col items-center w-full h-full overflow-auto max-w-none prose prose-lg prose-neutral dark:prose-invert bg-background">
                <div class="flex justify-center w-full text-5xl font-semibold gap-2 bg-destructive-foreground">
                    <slot name="project-title" />
                </div>
            	<div class="flex flex-col w-3/5 pt-8 mb-50 max-w-350" >
                    <slot name="project" />
                </div>
            </div>
        </div>
    </body>
</html>
