---
import { Label } from "../components/ui/label"
---

<div id="side-panel" class="flex flex-col items-center w-full overflow-auto max-w-70 bg-sidebar">
    <div class="flex flex-col items-center py-2">
        <slot name="name" />
        <slot name="username" />
    </div>

    <slot name="profile-pic" />

    <slot name="intro" />

    <div class="mb-10 text-3xl">
        <slot name="socials" />
    </div>

    <div class="w-4/5 pl-15 mt-10 text-lg">
        <slot name="menu" />
    </div>

    <div class="flex flex-col justify-center py-4 mt-auto mb-10">
        <slot name="support-me-label" />
        <slot name="support-me-links" />
    </div>
    <div class="flex flex-row items-center space-x-2">
        <slot name="theme-label" />
        <slot name="theme-toggle" />
    </div>
</div>
